<body>
  <main>
    <div class="slider">
      <figure>
        <div class="slide">
          <a href="https://www.ford.com.br/todos-os-veiculos/"><img src="/img/imagem_1.jpg" alt=""></a>
        </div>
        <div class="slide">
          <img src="/img/imagem_2.jpg" alt="">
        </div>
        <div class="slide">
          <a href="https://www.ford.com.br/todos-os-veiculos/"><img src="/img/imagem_3.jpg" alt=""></a>
        </div>
        <div class="slide">
          <a href="https://www.ford.com.br/todos-os-veiculos/"><img src="/img/imagem_4.jpg" alt=""></a>
        </div>
      </figure>
    </div>
  </main>

  
<footer>
  <nav id="social">
    <ul>
      <li><span class="redesociais">Redes Sociais</span></li>
      <li><a href="https://www.facebook.com/FordBrasil" title="Facebook"><img src="img/facebook-50.png" /></a></li>
      <li><a href="https://www.youtube.com/@fordbrasil" title="YouTube"><img src="img/youtube-squared-50.png" /></a></li>
      <li><a href="https://www.instagram.com/fordbrasil" title="Instagram"><img src="img/instagram-logo-50.png" /></a></li>
    </ul>
  </nav>

  <div>
    <img src="img/ford-96.png" alt="Logo Ford" />
  </div>
</footer>
</body>
